@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100vh;
  width: 100%;
  font-family: "Mona Sans", sans-serif;
  background-image: url(https://cdn.pixabay.com/photo/2018/07/13/04/51/marble-3534940_1280.jpg);
  /* background-size: cover; */
  background-size: 100%;
}
div#main {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  padding: 0px 132px;
}
#nav {
  height: 10%;
  width: 100%;
  /* background-color: red; */

  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  padding: 17px;
  gap: 89px;
}
.icon {
  display: flex;
  gap: 20px;
  color: #6a7a94;
  font-size: 17px;
}
a {
  text-decoration: none;
  color: #1c2a40e5;
}
#container {
  display: flex;
  /* background-color: yellow; */
}
.left {
  min-height: 100%;
  width: 100%;
  /* background-color: red; */
  padding: 150px 28px;
}
.heading {
  width: fit-content;
  /* background-color: aqua; */
  font-size: 30px;
  line-height: 60px;
  color: #1c2a40e5;
}
.para {
  width: 85%;
  height: 10%;
  /* background-color: blue; */
  padding-top: 10px;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.623);
}
.num {
  display: flex;
  /* background-color: burlywood; */
  gap: 72px;
  margin-top: 35px;
  font-size: 26px;
  margin-left: 36px;
  color: #6a7a94;
}
.num1 {
  display: flex;
  /* background-color: aquamarine; */
  gap: 49px;
  font-size: 15px;
  margin-left: 17px;
  color: #6a7a9485;
}
.num1 h3 {
  margin-left: 22px;
}

.da {
  color: #6a7a94;
}
.right img {
  height: 600px;
  padding-top: 100px;
  padding-right: 20px;
}
#card {
  position: relative;
  display: flex;
  /* padding: 0px 132px; */
  width: 78%;
  height: 250px;
  margin-left: 158px;
  margin-top: 34px;

  /* margin-right: 132px; */
  background-color: #6e7e98;
  border-radius: 20px;
}
.card1 {
  /* position: absolute; */
  height: 100%;
  width: 26%;
  padding: 25px;
  transition: all 0.3s ease;

}
.card2 {
  height: 100%;
  width: 26%;
  padding: 25px;
}
.card3 {
  height: 100%;
  width: 26%;
  padding: 25px;
}
.card4 {
  height: 100%;
  width: 26%;
  padding: 25px;
}
.data {
  height: 45%;
  background-size: 100%;
  color: white;
}
.text1 {
  padding: 35px;
  padding-left: 50px;
  padding-right: 0;
}
.text1 h1 {
  padding-bottom: 12px;
  font-size: 27px;
  padding-left: 9px;
}
.text1 p {
  align-items: center;
}
.text2 {
  padding: 35px;
  padding-left: 35px;
  padding-right: 0;
}
.text2 h1 {
  padding-bottom: 12px;
  font-size: 27px;
  padding-left: 9px;
}
.text3 {
  padding: 35px;
  padding-left: 30px;
  padding-right: 0;
}
.text3 h1 {
  padding-bottom: 12px;
  font-size: 27px;
  padding-left: 9px;
}
.text4 {
  padding: 35px;
  padding-left: 35px;
  padding-right: 0;
}
.text4 h1 {
  padding-bottom: 12px;
  font-size: 27px;
  padding-left: 9px;
}
.as {
  padding-left: 18px;
}
.photo1 {
  height: 50px;
  padding-left: 40px;

  filter: invert(1);
}
.photo2 {
  height: 50px;
  padding-left: 60px;
  background: transparent;
  filter: invert(1);
}
.photo3 {
    height: 50px;
    padding-left: 60px;
    background: transparent;
    filter: invert(1);
  }

  .photo4 {
    height: 55px;
    padding-left: 60px;
    background: transparent;
    filter: invert(1);
  }
  .card1:hover{
    height: 250px;
    background-color: #1c2a40e5;;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    transform: scale(1.03);
  }
  .card2:hover{
    height: 250px;
    background-color: #1c2a40e5;;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    transform: scale(1.03);
  }
  .card3:hover{
    height: 250px;
    background-color: #1c2a40e5;;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    transform: scale(1.03);
  }
  .card4:hover{
    height: 250px;
    background-color: #1c2a40e5;;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    transform: scale(1.03);
  }
  
  
/* about */
.info{
  height: 100%;
}
#about {
  /* position: fixed; */
  height: 100%;
  width: 78%;
  margin-top: 50px;
  margin-left: 158px;
  padding-top: 44px;
  background-color: yellow;
}
.about1 {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: red;
  /* padding: 30PX; */
  margin-top: 10px;
  padding-top: 0px;
  border-radius: 30px;
}
.about-left{
  /* position: relative; */
  width: 50%;
  height: 100%;
  background-color: aqua;
  border-radius: 30px;
  overflow: hidden;


}
.about-right{
  width: 50%;
  height: 100%;
  background-color: bisque;
  border-radius: 30px;  
  display: flex;
  flex-direction: column;
}
.about-left img{
  height: 300px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.about-left img{
  padding: 0;
  height: 300px ;
  display: block;
  width: 70%;
  margin: 0;
  padding: 0;
  border: 0;  
}